:root {
  --primarycolor: #722362;
  --secondarycolor: #76d5d4;
  --tertiarycolor: #ea067e;
  --fourthcolor: #d2db0e;
  --inputbackgroundcolor: white;
  --headercolor: white;
  --headerbackgroundcolor: #722362;
}

.theme-light {
  --primarycolor: #722362;
  --secondarycolor: #76d5d4;
  --tertiarycolor: #ea067e;
  --fourthcolor: #d2db0e;
  --backgroundcolor: #76d5d4;
  --inputbackgroundcolor: white;
  --headercolor: white;
  --headerbackgroundcolor: #722362;
  --textcolor: black;
}

.theme-dark {
  --primarycolor: #76d5d4;
  --secondarycolor: #722362;
  --backgroundcolor: rgb(31, 31, 31);
  --inputbackgroundcolor: #722362;
  --headerbackgroundcolor: #310a29;
  --textcolor: white;
}

* {
  transition: all 250ms ease-in-out;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: var(--headerbackgroundcolor);
  color: var(--headercolor);
  padding: 1em;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0 auto;
  padding: 0.5em 1em 0 1em;
}

label {
  margin: 0.5em;
  color: var(--textcolor);
}

.field-adder__label {
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  transition: none;
  margin-top: 1em;
  background-color: var(--inputbackgroundcolor);
  color: var(--textcolor);
}

.field-adder__input {
  background-color: var(--inputbackgroundcolor);
  width: 100%;
  height: 35px;
  padding: 3px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: none;
  color: var(--textcolor);
}

.field__input {
  background-color: var(--inputbackgroundcolor);
  width: 100%;
  height: 35px;
  padding: 3px;
  border: none;
  border-left: solid 10px var(--primarycolor);
  border-radius: 5px;
  margin-bottom: 5px;
  transition: none;
  color: var(--textcolor);
}

.field__input:hover,
input:hover {
  outline: solid 2px var(--fourthcolor);
}
.field__input:focus,
input:focus {
  outline: solid 2px var(--tertiarycolor);
}

button {
  cursor: pointer;
  margin: 0 1em 1em 0;
  padding: 0.3em;
  font-size: 0.9rem;
  background-color: var(--backgroundcolor);
  color: var(--primarycolor);
  font-weight: bold;
  border-radius: 20px;
  border: none;
  outline: none;
  transition: none;
}

button:hover,
button:focus {
  outline: 2px solid var(--tertiarycolor);
}

p {
  margin-bottom: 0.25em;
  color: var(--textcolor);
}

ul {
  color: var(--textcolor);
}

ul ::marker {
  color: var(--primarycolor);
}

.app {
  width: 100%;
  background-color: var(--backgroundcolor);
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.menu {
  display: flex;
}

.field-adder {
  padding: 1em 0 1em 0;
}

.fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.log {
  padding-bottom: 3em;
}

.log-item__field-name {
  font-weight: 600;
}

.hide {
  font-size: 0;
}
